
#banxin{
	width:1000px;
	margin:0 auto;
	position: relative;
}
#banxin .header{
	position: absolute;
	left:0;
	top:19px;
	height:103px;
	width:1000px;
}
#banxin .header h1{
	float: left;
	width:151px;
	height: 103px;
	background:url(../images/icons.png) no-repeat -3px -4px;
	text-indent: -9999px;
}
#banxin .header .nav{
 	width:849px;
 	height: 91px;
}
#banxin .header .nav ul li{
	float: left;
	height: 91px;
	border-right:1px solid #EAEAEA;
	background-color: #fff;
	position: relative;
}
#banxin .header .nav ul li a{
	display: block;
	height:64px;
	padding: 27px 20px 0 19px;
}
/*层叠公共类a*/
#banxin .header .nav ul li .zicaidan .inner a{
	padding-top: 30px;
	padding-right:0;
	padding-left:0;
	float: left;
	width: 102px;
	height: 90px;
	background-color: #F3F3F3;
	text-align: center;
	color:#393939;
}
#banxin .header .nav ul li .zicaidan .inner a.no2{
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#banxin .header .nav ul li .zicaidan .inner a.no3{
	padding-top:20px;
	height: 100px;
}
/*黄色图图*/
#banxin .header .nav ul li .zicaidan .inner a.no1 b{
	display: block;
	width: 42px;
	height: 29px;
	margin:0 auto;
	background:url(../images/huang1.png) no-repeat;
}
#banxin .header .nav ul li .zicaidan .inner a.no2 b{
	display: block;
	width: 39px;
	height: 27px;
	margin:0 auto;
	background:url(../images/huang2.png) no-repeat;
}
#banxin .header .nav ul li .zicaidan .inner a.no3 b{
	display: block;
	width: 38px;
	height: 38px;
	margin:0 auto;
	background:url(../images/huang3.png) no-repeat;
}
/*白tutu*/
#banxin .header .nav ul li .zicaidan .inner a.no1:hover b{
	background:url(../images/bai1.png) no-repeat;
}
#banxin .header .nav ul li .zicaidan .inner a.no2:hover b{
	background:url(../images/bai2.png) no-repeat;
}
#banxin .header .nav ul li .zicaidan .inner a.no3:hover b{
	background:url(../images/bai3.png) no-repeat;
}

#banxin .header .nav ul li .zicaidan .inner a i{
	font-style: normal;
	line-height: 30px;
}

#banxin .header .nav ul li a span{
	display: block;
	text-align: center;
}
#banxin .header .nav ul li a:link,#banxin .header .nav ul li a:visited{
	color:#393939;
}
#banxin .header .nav ul li a:hover{
	border-top:4px solid #F5A700;
	position: absolute;
	top:-4px;
	background-color:#F3F3F3;
}
/*层叠公共类a hover*/
#banxin .header .nav ul li .zicaidan .inner a:hover{
	border-top:none;
	position: static;
	background-color: orange;
	color:white;
}


#banxin .header .nav ul li a span.chinaname{
	font:16px/175% "微软雅黑","宋体";
} 
#banxin .header .nav ul li a span.englishname{
	font:12px/12px "微软雅黑","宋体";
	color:#C7C7C7;
}

#banxin .header .nav ul li .zicaidan{
	position: absolute;
	top:95px;
	left:-114px;
	width:308px;
	height:120px;
	padding-top:4px;
	_background-color: #002b5e;
	_filter:chroma(color=#002b5e);
	display: none;
}
#banxin .header .nav ul li .zicaidan .inner{
	width: 308px;
	height: 120px;
}


#banxin .news{
	width:1000px;
	height:54px;
	background-color: #fff; 
	position: absolute;
	top:611px;
	left:0;
}
#banxin .news h3{
	float: left;
	font:16px/19px "微软雅黑","宋体";
	line-height: 54px;
	padding:0 17px;
}
#banxin .news a.more{
	float: right;
	width:67px;
	height:27px;
	display: block;
	position: absolute;
	top:7px;
	right:20px;
}
#banxin .news a.more:link,#banxin .news a.more:visited{
	color:#fff;
	background-color: #ccc;
	text-align: center;
	line-height: 27px;
}

#banxin .news .huoche .gundong{
	height: 25px;
	width:400px;
	position: absolute;
	top:14px;
	left:98px;
	overflow: hidden;
}
#banxin .news .huoche .gundong ul{
	height: 500px;
}
#banxin .news .huoche .gundong ul li a:link,#banxin .news .huoche ul li a:visited{
	font:12px/175% "微软雅黑","宋体";
	color:#393939;
}
#banxin .news .huoche .gundong ul li a:hover{
	text-decoration: underline;
}
#banxin .news .huoche .gundong ul li span{
	font:12px/175% "微软雅黑","宋体";
	color:#393939;
}
#banxin .news .huoche .gdbutton{
	width: 56px;
	height: 25px;
	position: absolute;
	top:9px;
	left:498px;
}
#banxin .news .huoche .gdbutton span.leftbutton{
	float: left;
	width:27px;
	height: 25px;
	background:url(../images/icons.png) no-repeat -473px -29px;
	cursor: pointer;
}
#banxin .news .huoche .gdbutton span.rightbutton{
	float: left;
	width:29px;
	height: 25px;
	background:url(../images/icons.png) no-repeat -472px -55px;
	cursor: pointer;
}



#content{
	position: absolute;
	top:665px;
	left:0;
	width:100%;
	background:url(../images/contentbg.png) no-repeat center top;
}
#content .inner{
	width: 1000px;
	margin: 0 auto;
	border-top: 1px solid #ccc;
	background-color:#F3F3F3;
}
#content .links{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 25px;
}
#content .links dl{
	float: left;
	margin:0 30px;
}
#content .links dl dt{
	font:bold 12px/24px "微软雅黑","宋体";
	color:#393939;
}

#content .links dl dd a:link,#content .links dl dd a:visited{
	font:12px/24px "微软雅黑","宋体";
	color:#393939;
}
#content .links .qr{
	float: left;
	text-align:center;
	padding-left: 12px;
}
#content  .footer{
	height: 54px;
	background-color:#2B2B2B ;
	overflow: hidden;
}
#content  .footer .inner{
	border:none;
}
#content .footer p.p1{
	font:12px/54px "微软雅黑","宋体";
	color:#B7B7B7;
}
#content .footer p.p2{
	font:12px/54px "微软雅黑","宋体";
	color:#B7B7B7;
}
